.poke-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
    padding: 20px;
    overflow: hidden;
}

.poke-id__header {
    width: 100vh;
    bottom: 450px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}


.poke-id__img {
    width: 100%;
    max-width: 200px;
    left: 50%;
    bottom: 350px;
}

.poke-id__name {
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.poke-id__types {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.poke-id__types-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.poke-id__type {
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    border-radius: 15px;
    padding: 0px 20px;
    color: white;
}

.poke-id__ability {
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    border-radius: 15px;
    padding: 0px 10px;
    border-radius: 13px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.poke-id__type:nth-child(2)::before {
    content: "/";
    position: absolute;
    left: -10px;
}

.poke-id__info {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.poke-id__type-label {
    text-align: center;
    font-size: 13px;
    color: #999;
}

.poke-id__moves-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: -ms-page;
    background-color: white;
    border: none;
    justify-content: center;

}

.move-name{
    color: white;
    font-weight: 500;
    margin-top: 40px;
}


.poke-id__moves {
    font-size: 20px;
    display: grid;
    text-transform: capitalize;
    position: relative;
    border-radius: 15px;
    padding: 0px 10px;
    border-radius: 13px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background-color: lightgray;
    font-weight: 400;
}


/* Border */
.border-grass {
    border-color: #C3DEA3;
}

.border-water {
    border-color: #83B9FF;
}

.border-fire {
    border-color: #E6901E;
}

.border-normal {
    border-color: #735259;
}

.border-fighting {
    border-color: #96402A;
}

.border-bug {
    border-color: #4AB648;
}

.border-poison {
    border-color: #5B3184;
}

.border-ghost {
    border-color: #323569;
}

.border-rock {
    border-color: #7E7E7E;
}

.border-ground {
    border-color: #654008;
}

.border-steel {
    border-color: #5E736C;
}

.border-psychic {
    border-color: #5E736C;
}

.border-dark {
    border-color: #0B0E0D;
}

.border-electric {
    border-color: #0C1395;
}

.border-dragon {
    border-color: #478A93;
}

.border-fairy {
    border-color: #971B45;
}

.border-ice {
    border-color: #6FBEDF;
}



/* Background Colors */
.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-fighting {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-psychic {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-electric {
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

/* Text Color */
.letter-grass {
    color: #416460;
}

.letter-fairy {
    color: #971B45;
}

.letter-water {
    color: #1479FB;
}

.letter-fire {
    color: #E75C35;
}

.letter-normal {
    color: #735259;
}

.letter-fighting {
    color: #96402A;
}

.letter-bug {
    color: #4AB648;
}

.letter-poison {
    color: #5B3184;
}

.letter-ghost {
    color: #323569;
}

.letter-rock {
    color: #7E7E7E;
}

.letter-ground {
    color: #654008;
}

.letter-steel {
    color: #5E736C;
}

.letter-psychic {
    color: #5E736C;
}

.letter-dark {
    color: #030706;
}

.letter-electric {
    color: #0C1395;
}

.letter-dragon {
    color: #478A93;
}

.letter-ice {
    color: #6FBEDF;
}