header > p > span {
    color: red;
    text-transform: uppercase;
}

header > p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pokedex__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    gap: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.pokedex__aside {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.card__container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px 5px;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pokedex__img {
    margin-bottom: 10px;
    max-width: 450px;
  }