/* RESET*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    font-family: inherit;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

button {
    border: none;
}